<header class="header">
  <div class="container">
    <div class="header_content">
      <div class="header_logo">
        <button class="nav-mobile" data-bs-toggle="offcanvas" href="#offcanvasExample">
          <i class="bi bi-list"></i>
        </button>
        <div>Logo</div>
      </div>
      <div class="header_content">
        <nav class="nav">
          <div class="dropdown nav_dropdown">
            <button class="nav_btn btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'NAV.SOLUTIONS' | translate}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div class="dropdown nav_dropdown">
            <button class="nav_btn btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'NAV.TARIFFS' | translate}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <button class="nav_btn">{{'NAV.BLOG' | translate}}</button>
          <button class="nav_btn">{{'NAV.ABOUT' | translate}}</button>
          <button class="nav_btn">{{'NAV.CONTACTS' | translate}}</button>
        </nav>
        <div class="dropdown nav_dropdown"  >
          <button  class="nav_btn btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{curentLang}}
          </button>
          <ul class="dropdown-menu"  >
            <li><a class="dropdown-item"
                   *ngFor="let t of optionsList"
                   (click)="onChange(t)">
              {{t.LocaleString}}
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="nav-mobile">
    <ul class="list">
      <li class="list_item list_item__header"> {{'NAV.SOLUTIONS' | translate}}</li>
      <li class="list_item">{{'NAV.FORBRANDS' | translate}}</li>
      <li class="list_item">{{'NAV.FORRETAILERS' | translate}}</li>
    </ul>
    <ul class="list">
      <li class="list_item list_item__header">{{'NAV.TARIFFS' | translate}}</li>
      <li class="list_item">{{'NAV.FORBRANDS' | translate}}</li>
      <li class="list_item">{{'NAV.FORRETAILERS' | translate}}</li>
    </ul>
    <ul class="list list__links">
      <li class="list_item">{{'NAV.BLOG' | translate}}</li>
      <li class="list_item">{{'NAV.ABOUT' | translate}}</li>
      <li class="list_item">{{'NAV.CONTACTS' | translate}}</li>
    </ul>
  </div>
</div>
