<header class="header">
  <div class="container">
    <div class="header_content">
      <div class="header_logo">
        <button class="nav-mobile" data-bs-toggle="offcanvas" href="#offcanvasExample">
          <i class="bi bi-list"></i>
        </button>
        <div>Logo</div>
      </div>
      <div class="header_content">
        <nav class="nav">
          <div class="dropdown nav_dropdown">
            <button class="nav_btn btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Рішення
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div class="dropdown nav_dropdown">
            <button class="nav_btn btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Тарифи
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <button class="nav_btn">Блог</button>
          <button class="nav_btn">Про нас</button>
          <button class="nav_btn">Контакти</button>
        </nav>
        <div class="dropdown nav_dropdown">
          <button class="nav_btn btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            UA
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">RU</a></li>
            <li><a class="dropdown-item" href="#"> EN</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="nav-mobile">
    <ul class="list">
      <li class="list_item list_item__header">Рішення</li>
      <li class="list_item">Брендам</li>
      <li class="list_item">Рітейлерам</li>
    </ul>
    <ul class="list">
      <li class="list_item list_item__header">Тарифи</li>
      <li class="list_item">Брендам</li>
      <li class="list_item">Рітейлерам</li>
    </ul>
    <ul class="list list__links">
      <li class="list_item">Блог</li>
      <li class="list_item">Про нас</li>
      <li class="list_item">Контакти</li>
    </ul>
  </div>

</div>
