<app-header></app-header>
<section class="promo-page">
  <div class="container">
    <div class="promo">
      <div class="promo_info">
        <h1 class="promo_title">Б л о г</h1>
        <p class="promo_desc">Наші найкращі матеріали у вашій пошті</p>
        <button class="company-button company-button__accent">Підписатися</button>
        <button class="company-button">Задати питання</button>
      </div>
      <div class="promo_img">
        <img src="https://7-price.com/img/blogs/blog_img.png">
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
