<app-header></app-header>
<section class="promo-page">
  <div class="container">
    <div class="promo">
      <div class="promo_info">
        <h1 class="promo_title">{{'BLOG.TITLE' | translate}}</h1>
        <p class="promo_desc">{{'BLOG.DESC' | translate}}</p>
        <button class="company-button company-button__accent">{{'BUTTON.SUBSCRIBE' | translate}}</button>
        <button class="company-button">{{'BUTTON.ASK' | translate}}</button>
      </div>
      <div class="promo_img">
        <img src="https://7-price.com/img/blogs/blog_img.png">
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
