<section class="blog-page">
  <div class="container">
    <ul class="list">
      <li class="list_item" *ngFor="let d of data" routerLink="/blog-page">
        <img class="list_img" src="https://panel.7-price.com/Content/image/blog/what-do-you-need-to-know-before-pricing-you-product.png">
        <div class="list_desc">
          <a routerLink="/blog-page">Що вам потрібно знати, перш ніж визначити ціну вашого продукту?{{d}}</a>
        </div>
      </li>
    </ul>
  </div>
  <button class="blog-btn company-button company-button__grey">Більше статей</button>
</section>
